<%-layout("./index.ejs")%>
  <div class="container">
    <div class="container-header">
      <div class="container-header__info">
        <h3>Applications Submitted</h3>
        <p>List of Active Applications Submitted</p>
      </div>
      <div class="container-header__search">
        <i class="fa-solid fa-arrows-rotate"></i>
        <input type="text" placeholder="Find">
      </div>
    </div>

    <div class="info-table-container">
      <table class="info-table">
        <thead>
          <th>#</th>
          <th>Name</th>
          <th>Email</th>
          <th>Mobile Number</th>
          <th>For Requisition</th>
          <th>View Resume</th>
          <th>Submitted On</th>
          <th>App Status</th>
          <th>App Step</th>
        </thead>
        <tbody>
          <% if (candidates.length === 0) { %>
            <tr class="no-data">
              <td colspan="8">No applications available.</td>
            </tr>
          <% } else { %>
            <% let index = 1; %>
              <% for (let candidate of candidates) { %>
                <tr>
                  <td><%= index++ %></td>
                  <td><%= candidate.firstName %>
                    <%= candidate.lastName %></td>
                  <td><%= candidate.email %></td>
                  <td><%= candidate.phone %></td>
                  <td><%= candidate.jobId.role %></td>
                  <td>
                    <a href="<%=candidate.resume.fileUrl%>" target="_blank">
                      <i class="fa-solid fa-eye"></i>
                    </a>
                  </td>
                  <td><%= candidate.submittedOn.toLocaleDateString('en-US', { month: 'short', day: 'numeric', year: 'numeric' }) %></td>
                  <td>Active</td>
                  <td>Applied</td>
                </tr>
              <% } %>
            <% } %>
          </tbody>
        </table>
      </div>
      <div id="formModal" class="modal">
        <div class="modal-content"></div>
      </div>
    </div>
