<link rel="stylesheet" href="css/jobs.css" />
<div class="container-header">
  <div class="container-header__info">
    <h3>Jobs Posted For <%=companyName%> [<%=jobs.length%>]</h3>
    <i class="fa-solid fa-plus" onclick="addJobsForm('<%=companyId%>')"></i>
  </div>
</div>

<div class="data-list">
  <% if (jobs.length === 0) { %>
  <p class="no-data">No Data Available</p>
  <% } else { %> <% for (let job of jobs) { %>
  <div class="job">
    <div class="content">
      <h1><%=job.role%></h1>
      <h3>Company - <%=companyName%></h3>
      <div class="details">
        <h3><i class="fa-solid fa-location-dot"></i><%=job.location%></h3>
        <h3>|</h3>
        <h3>
          <i class="fa-solid fa-indian-rupee-sign"></i><%=
          job.budget.toLocaleString('en-IN') %> (<%= (job.budget * 12 /
          100000).toFixed(2) %> LPA)
        </h3>
        <h3>|</h3>
        <h3>
          <i class="fa-solid fa-calendar"></i><%=
          job.submittedOn.toLocaleDateString('en-US', { month: 'short', day:
          'numeric', year: 'numeric' }) %>
        </h3>
        <h3>|</h3>
        <h3>
          <i class="fa-solid fa-hashtag"></i><%= job.positions %> Openings
        </h3>
      </div>
    </div>
    <div class="options">
      <div class="menu-container">
        <i
          class="fa-solid fa-ellipsis-vertical job-option"
          data-id="<%=job._id%>"></i>
        <div class="menu" id="<%=job._id%>">
          <h4 class="menu-item">Edit</h4>
          <form class="menu-item" action="" method="POST">
            <button type="submit">Delete</button>
          </form>
        </div>
      </div>
      <div class="contact">
        <button onclick="viewJDForm('<%=companyId%>', '<%=job._id%>')">
          View JD
          <span>
            <i class="fa-solid fa-paperclip"></i>
          </span>
        </button>
        <button
          class="view-applications-btn"
          data-job-id="<%=job._id%>"
          data-company-id="<%=companyId%>">
          View Applications
          <span><%= job.profiles.length %></span>
        </button>
      </div>
    </div>
  </div>
  <div
    class="applications-list"
    id="applications-list-<%=job._id%>"
    style="display: none"></div>
  <% } %> <% } %>
</div>
